@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

<h2>Thank you for completing the exit survey</h2>

<p>
    <a href="@Url.Action("Assessment", "Home")">Return to event home</a>
</p>
