@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@if (Context.Request.Query["n"] == "Closed")
{
    <h2>Sorry, but this survey has been closed and is no longer active.</h2>
}
else if (Context.Request.Query["n"] == "404")
{
    <h2>Sorry, but a survey is not configured for this event</h2>
}
else
{
    <h2>Sorry, but this survey is not currently active.</h2>
}
<p>
    <a href="@Url.Action("Assessment", "Home")">Return to event home</a>
</p>
