@*
  SEER - SYSTEM (for) EVENT EVALUATION RESEARCH
  Copyright 2021 Carnegie Mellon University.
  NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
  BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT,
  TRADEMARK, OR COPYRIGHT INFRINGEMENT.
  Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
  [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.
  Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
  DM21-0384
*@
<footer>
  <div class="container-fluid" style="margin:50px 0;">
    <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding-top: 15px;">
      <div class="col-sm">
        <img src="~/content/images/Software_Engineering_Institute_Unitmark_Gray.png" class="footer-img" title="Carnegie Mellon Software Engineering Institute" alt="Carnegie Mellon Software Engineering Institute" />
      </div>
      <div class="col-sm text-end footer-text" style="color: grey">
        <i class="fa fa-eye" aria-hidden="true"></i> SYSTEM (for) EVENT EVALUATION RESEARCH. CERT © 2017-@DateTime.Now.Year. All rights reserved.
      </div>
    </div>
  </div>
</footer>