@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

<footer>
  <div class="container-fluid" style="margin:50px 0;">
    <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding-top: 15px;">
      <div class="col-sm footer-text" style="color: #616161">
        <i class="fa fa-eye" aria-hidden="true"></i> SYSTEM (for) EVENT EVALUATION RESEARCH. CERT © 2017-@DateTime.Now.Year. All rights reserved.
        <br/>
        <br/>
        <img src="~/content/images/logo.png" class="footer-logo" title="Carnegie Mellon Software Engineering Institute" alt="Carnegie Mellon Software Engineering Institute" />
      </div>
    </div>
  </div>
</footer>
