@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

<div id="timer_wrapper" style="display:none">
    <input type="hidden" id="timer_status" />
    <input type="hidden" id="timer_elapsed" />
    <div style="color:white">
        <i id="timer_output_status" class="fas fa-hourglass-half" aria-hidden="true"></i>
        <span id="timer_output_def"></span> <span id="timer_output"></span>
    </div>
</div>