@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>

<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</body>

</html>