@*
    SEER - SYSTEM (for) EVENT EVALUATION RESEARCH
    Copyright 2021 Carnegie Mellon University.
    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
    BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT,
    TRADEMARK, OR COPYRIGHT INFRINGEMENT.
    Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
    [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.
    Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
    DM21-0384
*@

@model IEnumerable<Seer.Infrastructure.ViewModels.AssessmentAndGroup>

@{
    ViewBag.Title = "Choose Teams to Compare";
    var assessments = Model.ToList().OrderBy(x => x.AssessmentName);
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("compare", "Exsum", FormMethod.Get))
{
    <div class="form-group">
    <div class="col-md-10">
        <select name="assessmentIds" id="assessmentIds" multiple class="form-control" style="height:200px">
            @foreach (var assessment in assessments)
                {
                    <option value="@assessment.AssessmentId">@assessment.AssessmentName @assessment.GroupName</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="form-group">
    <div class="col-md-10">
        <button type="button" id="compare" class="btn btn-primary">Compare Selected</button>
    </div>
</div>
}

@section scripts{
<script>
    $(function () {
        $("#compare").click(function () {
            let url = "compare?assessmentIds=" + $("#assessmentIds").val();
            window.location.replace(url);
        });
    });
</script>
}