@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.ViewModels.AssessmentAndGroup>

@{
    ViewBag.Title = "Choose Teams to Compare";
    var assessments = Model!.ToList().OrderBy(x => x.AssessmentName);
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("compare", "Exsum", FormMethod.Get))
{
    <div class="form-group">
    <div class="col-md-10">
        <select name="assessmentIds" id="assessmentIds" multiple class="form-control" style="height:200px">
            @foreach (var assessment in assessments)
                {
                    <option value="@assessment.AssessmentId">@assessment.AssessmentName @assessment.GroupName</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="form-group">
    <div class="col-md-10">
        <button type="button" id="compare" class="btn btn-primary">Compare Selected</button>
    </div>
</div>
}

@section scripts{
<script>
    $(function () {
        $("#compare").click(function () {
            let url = "compare?assessmentIds=" + $("#assessmentIds").val();
            window.location.replace(url);
        });
    });
</script>
}