@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8" />
<title>Exercise Timeline</title>
<link rel="stylesheet" type="text/css" href="/scripts/admin/timeline/inspector.css" />
<style>
  * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  select,
  .observablehq--inspect,
  form,
  #choose-a-label-arrangement- {
    display: none;
  }
</style>

<body>
  <div style="float:right;margin: 12px 5px 0 0;font-size: small;">
    Views: <a href="?view=">Full</a> | <a href="?view=summary">Summary</a>
  </div>
  <h1>
    <i class="fas fa-eye"></i> @ViewBag.GroupName @ViewBag.AssessmentName Exercise Timeline
  </h1>
  <div class="spinner-border spinner-border-sm" role="status" id="spinner">
    <span class="sr-only">Loading...</span>
  </div>

  <script type="module">
    import define from '/scripts/admin/timeline/index.js?x=@Guid.NewGuid()';
    import { Runtime, Library, Inspector } from '/scripts/admin/timeline/runtime.js?x=@Guid.NewGuid()';

    const runtime = new Runtime();
    const main = runtime.module(define, Inspector.into(document.body));

    setTimeout(function () {
      document.getElementById("spinner").style.visibility = "hidden";
    }, 3000);
  </script>
</body>

</html>