@{
    ViewBag.Title = "Quiz Inactive";
}

@section jumbotron{
    <div class="jumbotron" style="margin-top:-5px">
        <div class="container">
            <h1 class="display-3">@ViewBag.Title</h1>
        </div>
    </div>
}

@if (Context.Request.Query["n"] == "Closed")
{
    <h2>Sorry, but this quiz has been closed and is no longer active.</h2>
}
else
{
    <h2>Sorry, but this quiz is not currently active.</h2>
}
<p>
    <a href="@Url.Action("Index", "Home")">Return to quiz listing</a>
</p>
