@model Seer.Infrastructure.ViewModels.QuizViewModel

@section scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="/scripts/quiz/quiz.js"></script>
    <script type="text/javascript" src="/scripts/quiz/mouse.js"></script>
}

<div class="quiz-id alert-info">QUIZ: <strong>@Model.Name</strong></div>

<input type="hidden" id="currentstate" value="@Model.Status" />
<div class="alert alert-info" role="alert">
    Please click the answer to select it, or type in your answer as appropriate. Answers are saved automatically as they are entered.
    <br />
    Quizzes are submitted on behalf of the team. You can view and change answers made by your teammates if you wish.
    <br />
    <strong>The last answer made by your team will be the answer submitted for the quiz.</strong>
</div>
<h1>@Model.Name</h1>
@foreach (var obj in Model.Questions)
{
    @await Html.PartialAsync("Quiz_ChooseTheAnswer", obj)
}

<div style="margin-top: 2em">
    <button class="btn btn-primary" id="btnClose">Submit and Mark Quiz as Complete</button>
</div>
<input type="hidden" id="quizid" value="@Model.Id" />
<style>
    .mouse { background-repeat: no-repeat; background-position: 0 50%; padding-left: 20px; line-height: 20px; font-size: x-small; }
    .slot { display: inline-block; margin-left: 30px; }
    label { display: inline; }
    .options { height: 35px; }
    .hint { margin-top: -7px; }
    .hint-text { padding: 5px; }
    .quiz-id { position: fixed; bottom: 0px; right: 0px; padding: 8px 20px; font-size: 1.2em; border-top-left-radius: 0.5rem }
</style>

