@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model Seer.Infrastructure.ViewModels.HomeViewModel

<style>
    .card-columns {
        column-count: 2;
    }

    .card * {
        text-align: left;
    }
</style>

<h2>EO Assessment Dashboard</h2>

@if (Model.Groups.Any())
{
    <p>
    Click on an assessment in order to begin:
</p>
    <div class="card-columns">
    @foreach (var group in Model.Groups)
        {
            foreach (var assessment in group.Assessments)
            {
                var style = "primary";
                if (assessment.Status == Seer.Infrastructure.Enums.ActiveStatus.Inactive)
                {
                    style = "secondary";
                }

                <div class="card">
                    <a href="@Url.Action("Set", "Dashboard", new {id = assessment.Id})" class="btn btn-block btn-@style">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                        EO: <strong>@group.Name - @assessment.Name</strong> (@assessment.Status)
                    </a>
                </div>
            }
        }
    </div>
}
else
{
    <div style="margin:20px 0">
    <strong>You are not enrolled in any event currently</strong>
</div>
}
