@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.Announcement>

<h2>Announcements</h2>
<hr />
<br />

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div style="margin-bottom: 20px;">
    <div class="card">
        <div class="card-header">
            <div class="pull-right text-sm-right">@Html.DisplayFor(modelItem => item.Created)</div>
            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
        </div>
        @if (!string.IsNullOrEmpty(item.Detail))
                {
                    <div class="card-text" style="padding: 20px 0 20px 20px;">
                        @Html.Raw(item.Detail)
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <div>No announcements found</div>
}
