@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

<div class="pull-right col-lg-7">
    <input type="text" id="search" class="form-control" autocomplete="off" placeholder="Search" />
</div>
<h2>Intelligence Reports</h2>
<br />

<div id="results">

    <div id="loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>

</div>

@section scripts {
<script>
    $(function () {

        $("#search").keyup(function () {
            var search = $("#search").val();
            if (search.length > 2) {
                searchEx(search);
            }
        });

        function searchEx(search) {
            $("#loading").show();
            $.post("intel/search",
                { q: search },
                function (result) {
                    $("#loading").hide();
                    console.log(result);
                    $('#results').empty();
                    if (result.length < 1) {
                        $('#results').append("Sorry, no results found");
                    } else {
                        $.each(result,
                            function (index, item) {

                                var card = '<div class="card"><div class="card-block"><h6 class="pull-right">' +
                                    moment(parseInt(item.created.substr(6))).format('MMMM Do YYYY, h:mm:ss a UTC') +
                                    '</h6>';
                                card += '<h4 class="card-title font-weight-bold"><a href="/intel/' +
                                    item.id +
                                    '">' +
                                    item.subject +
                                    '</a>';
                                card += '</h4></div>';
                                $('#results').append(card);
                            });
                    }
                });
        }
        searchEx(null);
    });
</script>
<style>
    .card {
        margin-bottom: 10px;
    }
</style>
}
