@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.Operation>

@{
    ViewBag.Title = "Operations";
}

<h2><i class="fa fa-globe" aria-hidden="true"></i> Operations</h2>
<br />

@Html.ValidationSummary(true)

@if (!Model.Any())
{
    <p>No operations found - would you like to create one?</p>
}
else
{
    <table class="table">
    <tr>
        <th>Name</th>
        <th width="1%">&nbsp;</th>
    </tr>
    @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/admin/operations/@item.Id">
                        @Html.DisplayFor(model => item.Name)
                    </a>
                </td>
                <td>
                    <a href="operations/@item.Id/delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </table>
}
