@*
    SEER - SYSTEM (for) EVENT EVALUATION RESEARCH
    Copyright 2021 Carnegie Mellon University.
    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING,
    BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT,
    TRADEMARK, OR COPYRIGHT INFRINGEMENT.
    Released under a MIT (SEI)-style license, please see license.txt or contact permission@sei.cmu.edu for full terms.
    [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.
    Carnegie Mellon® and CERT® are registered in the U.S. Patent and Trademark Office by Carnegie Mellon University.
    DM21-0384
*@

@{
    ViewBag.Title = "Import";
}

<h2>Import Groups</h2>
<br />
<hr />
@using (Html.BeginForm("Import", "Groups", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
    @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-@ViewBag.MessageType">
                @ViewBag.Message
            </div>
            <br />
        }

        <div class="pull-right">
            <a href="~/content/templates/groups.csv" target="_blank">Please use this template file format</a>
        </div>
        <label class="btn btn-secondary">
            Select file for import <input name="file" type="file" hidden>
        </label>
        <br />
        <input type="submit" value="Upload" class="btn btn-primary" />

    </div>
}