@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@{
    ViewBag.Title = "Import Users";
}

<h2>Import Users</h2>
<br />
<hr />
@using (Html.BeginForm("Import", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
    @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-@ViewBag.MessageType">
                @ViewBag.Message
                <div>@ViewBag.ImportSuccess processed successfully!</div>
            </div>
            if (ViewBag.ImportProblems != null && ViewBag.ImportProblems.Any())
            {
                <div class="alert alert-danger">
                    @foreach (var o in ViewBag.ImportProblems)
                    {
                        <div>@o</div>
                    }
                </div>
            }
            <br />
        }

        <div class="pull-right">
            <a href="~/content/templates/users.csv" target="_blank">Please use this template file format</a>
        </div>
        <div>
            <label class="btn btn-secondary">
                Select file for import <input name="file" type="file" hidden>
            </label>
        </div>
        <br />
        <div>
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>
}