@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

@model IEnumerable<Seer.Infrastructure.Models.User>

@{
    ViewBag.Title = "Users";
}


<div class="pull-right">
    <a class="btn btn-secondary" href="/admin/users/import">Bulk Import</a>
    <a class="btn btn-primary" href="/admin/users/create">Create New</a>
</div>


<h2>@ViewBag.Title</h2>
<br />

<input type="text" id="search" class="form-control" autocomplete="off" placeholder="Search" />
<br />
<br />

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th class="text-right">Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4">Please enter a search term</td>
        </tr>
    </tbody>
</table>

@section scripts {
<script>
    $("#search").keyup(function () {
        let search = $("#search").val();
        if (search.length > 0) {
            $.post("/admin/users/search", { q: search }, function (result) {
                //console.log(result);
                $('.table > tbody:last-child').empty();
                $.each(result, function (index, value) {
                    let row = '<tr><td><a href="/admin/users/' + value.id + '"><i class="fa fa-user" aria-hidden="true"></i> &nbsp;<strong>' + value.name +
                        '</strong></a></td><td><a href="/admin/users/' + value.id + '">' + value.email + '</a></td><td>' +
                        value.username + '</td><td class="text-right">' + value.created + '</td></tr>';
                    $('.table > tbody:last-child').append(row);
                });
            });
        }
    });
</script>
}