@* Copyright 2021 Carnegie Mellon University. All Rights Reserved. See LICENSE.md file for terms. *@

<h4>
    <a href="@Url.Action("Index", "Time", new {Area = ""})">
        <i class="fa fa-clock" aria-hidden="true" style="margin-right: 3px;"></i> Event Timer
    </a>
</h4>
<br />
<h4>
    <a href="@Url.Action("Index", "Survey", new {Area = ""})">
        <i class="fa fa-comment" aria-hidden="true" style="margin-right: 1px;"></i> Please remember to take the event exit survey
    </a>
</h4>